*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img{
    height: 100px;
    margin: 20px 10px 15px 30px;
    vertical-align: middle;
}

header h1{
    display: inline-block;
    line-height: 135px;
    font-size: 4rem;
    font-family: sans-serif;
    vertical-align: middle;
}

html{
    background-color: #f6f8f9;
}

header{
    background-color: white;
}

.container{
    margin: 65px 250px 35px 250px;
    background-color: white;
    padding: 35px 75px 75px 75px;
    border-radius: 10px;
}

.container button{
    background-color: white;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin-right: 10px;
    margin-bottom: 15px;
    border: solid #c5cbd0;
    color: #d4d8dc;
}

.container button:hover{
    background-color: #47adf1;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin-right: 10px;
    margin-bottom: 15px;
    border: solid #47adf1;
    color: white;
}

.container hr{
    margin: 0px -75px 0px -75px;
    border: 2px solid #f6f8f9;
}

ul{
    list-style-type: none;
    font-size: 1.2rem;
    color: #444851;
    font-family: sans-serif;
}

li{
    margin-bottom: 20px;
}

.container .tick{
    color: #7ccfbc;
    border: 1px solid #7ccfbc;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0px 5px;
}

.container .title{
    font-size: 1rem;
    font-family: sans-serif;
}

.paragraph{
    margin-top: 38px;
}

.container .cross{
    color: #ea4237;
    border: 1px solid #ea4237;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0px 5px;
    font-size: 0.8rem;
}

.label{
    background-color: #45abea;
    color: white;
    font-family: sans-serif;
    font-size: 0.9rem;
    border-radius: 15px;
    padding: 9px 12px;
}

#violet{
    background-color: #9c72e4;
}

#turquoise{
    background-color: #64c0a9;
}

#orange{
    background-color: #f29e33;
}

#pink{
    background-color: #d863a1;
}

#lime{
    background-color: #b0c926;
}